<%- include('./partials/header') -%>

<h1>All posts</h1>

<%  posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <%=post.content%>
    <!-- <a href="/posts/<%=post._id%>">Read More</a> -->
    </p>


    <% }) %>

<%- include('./partials/footer'); -%>