<%- include('./partials/header') -%>
<nav class="">
   <div class="container">
   
       <ul class="nav navbar-nav navbar-right">
         <!-- 6 -->
         <li id="home"><a href="/compose">CREATE NEW POST</a></li>
      
       </ul>
   </div>
 </nav>

<h1>HOME</h1>
<p><%= StartingContent %></p>
<% console.log(posts) %>

<!-- <% posts.forEach(posts => { %>
    <%= posts. title %>
    <%= posts.content %> 
    <% }); %> -->
<!-- <% for(var i=0; i<posts.length; i++){ %>
   <% console.log(posts[i].title); %>
<%};%> -->
<% posts.forEach(function(post){ %>
   <!-- <% console.log(post.title); %> -->
   <h1><%=post.title%></h1> 
   <p>
      <%=post.content.substring(0, 100) + "......"%>
      <a href="/posts/<%=post._id%>">Read More</a>
   </p> 
<% }) %>



<%- include('./partials/footer'); -%>